<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="og:image" content="//www.itsenuf.com/images/lyra.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Nuton, Mobile app, Home Automation, Smart Plug, Lighting">
  
  <title>Nuton :: Smart home for everyone</title>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,300&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{=URL('static', 'css/landingpage-grid.css')}}" media="all">
  <link rel="stylesheet" href="{{=URL('static', 'css/pe-icon-7-stroke.css')}}" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" media="all">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.css" media="all">
  <link rel="stylesheet" href="{{=URL('static', 'css/animate.min.css')}}" media="all">
  <link rel="stylesheet" href="{{=URL('static', 'css/landingpage-style.css')}}" media="all">
  <link rel="stylesheet" href="{{=URL('static', 'css/landingpage-color.css')}}" media="all">
  <link rel="stylesheet" href="{{=URL('static', 'css/bookblock.css')}}" />
  <link rel="stylesheet" href="{{=URL('static', 'css/landingpage-demo5.css')}}" />

  <link rel="shortcut icon" href="{{=URL('static', 'images/elements/favicon.ico')}}">
  <link rel="apple-touch-icon" href="images/elements/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/elements/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="images/elements/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="images/elements/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="images/elements/apple-touch-icon-180x180.png"/>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


  {{include 'ga.html'}}

  <script type="text/javascript">
    $(document).ready(function() {
      $("a.faq_question").each(function() {
        $(this).click(function(event) { 
   ga('send', 'event', 'faq', 'click', $(this).text());	
        });
      });

      $("a[href*=#]").click(function(e) {
       ga('send', 'event', 'hashtag', 'click', $(this).text());
      }); 

       $(".fancybox").fancybox({
          helpers : {
            overlay : {
              css : {
                'background' : 'rgba(124, 139, 143, 0.7)'
              }
            }
          }
        });

       $(".fancybox")
          .attr('rel', 'gallery')
          .fancybox({
            padding : 3

          });

    });
    

</script>
</head>

<body>
<input type="hidden" id="val4" value="" />
<div id="qLoverlay"></div>
<div id="top"></div>


<div class="home-slider">

  {{for i, background in enumerate(backgrounds):}}
    <section class="hero parallax-background parallax-background{{=i+1}}">
      <div class="overlay"></div>
      <div class="container">
        <div class="hero-inner">
          {{if i == 0:}}
            <div class="hero_inety">
              <div class="slider_logo" ><img src="{{=URL('static', 'images/nuton-header-logo.png')}}" alt="header-logo" ></div>
              <div class="play_btn"> <a href="//www.youtube.com/watch?v=7nUNfol2jOU" class="lightbox-gallery mfp-iframe"> <span class="play_btn_icon"> <i class="fa fa-play"></i> </span> </a> </div>
            </div>
          {{else:}}
            <h1 class="big_white">
              {{=background['prefix']}} <span class="element" data-elements="{{=background['suffix']}}"></span>
            </h1>
            <div class="hero-copy">One Home One Control</div>
          {{pass}}
          <span class="btn-holder"></span>
          <div class="form_sin_upp container">
            <div class="errow_messate_box" id="dic{{=i}}">Please enter your email!</div>
            <div class="errow_messate_box_text" id="prt{{=i}}" >Please enter valid email address</div>
            <div class="promocode_accept" id="did{{=i}}">Promo code accepted, enter your email and sign up.</div>
            <div class="promocode_accept_worng" id="div{{=i}}">You can register without promo code as well</div>
            <form action="" id="callout-form" name="my_form" method="post" enctype="multipart/form-data">
              <input type="text" name="email" placeholder="you@example.com" id="email{{=i}}">
              <input type="button"  value="sign up" onClick="validateEmail({{=i}})">
            </form>
          </div>
          <div class="bg_clich"></div>
        </div>
      </div>
      <div id="social" class="wow fadeInUp" data-wow-offset="0">
        <ul>
          <li><a href="//www.facebook.com/Nutons" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="//twitter.com/NutonIOT" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="//plus.google.com/u/0/116562684728809532541/about" target="_blank"><i class="fa fa-google"></i></a></li>
        </ul>
        <div class="ddreew"> <span class="p_code_list l{{=i}}" data-i="{{=i}}"><a><i class="fa fa-pcode">C</i></a> </span> <span class="promo_input_box">
          <input type="text" data-i="{{=i}}" class="c-text1 blink_no" id="code_arena" placeholder=" Enter code here" value="">
          </span> <img src="{{=URL('static', 'images/right_icon.png')}}" alt="" class="right_sing1"> <img src="{{=URL('static', 'images/worng_icon.png')}}" alt="" class="worng_sing1"> </div>
      </div>
    </section>
  {{pass}}

</div>

  <!-- Floating header/main Menu -->

  <section id="home-content" class="top-waypoint" data-animate-up="header-hide" data-animate-down="header-show"> 
    <header id="header-section" class="ha-header">
      <div class="container">
        <div class="row">
          <div class="column two">
            <h1 class="logo"> <a href="#top"> <img src="{{=URL('static', 'images/nuton-menu-logo.png')}}" alt="logo"> </a> </h1>
          </div>
          <nav id="navigation" class="column eight hide-on-mobile">
            <ul>
              <li><a href="#top">Home</a></li>
              <li><a href="#products">Products</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#faq">FAQs</a></li>
              <li><a href="https://blog.nuton.in">Blog</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </ul>
          </nav>
          <a href="#" id="menu-toggle-wrapper">
          <div id="menu-toggle"></div>
          </a> 
        </div>
      </div>
    </header>
  </section>

  <!-- Products description in sub menu -->

  <section id="products" class="menu-in">
    <header class="section-header">
      <h2 class="section-title" data-anim-delay="400">Products</h2>
      <p class="section-tagline">Meet The Nutons. The most advanced, attractive and affordable way to to get smarter !</p>
    </header>
    <div class="filter-row">
      <div class="container">
        <div class="row">
          <ul class="filter wow fadeInLeft">
            <li style="display:none;"><a href="#tab_about_img"></a></li>
            <li><a href="#aura">Aura</a></li>
            <li><a href="#lyra">Lyra</a></li>
            <li><a href="#lyra+">Lyra+</a></li>
            <li><a href="#hub">Hub</a></li>
            <li><a href="#mira">Mira</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="top_border_row" id="option-section">
      <div class="container">
        {{for product in products:}}
          <div class="row inner_opction" id="{{=product['name']}}">
            <div class="column four">
              <ul class="bb-custom-grid" id="bb-custom-grid">
                  <div>
                    {{for i, image in enumerate(product['album']):}}
                      <a class="fancybox" href="{{=URL('static', 'images/album/' + image)}}" data-fancybox-group="{{=product['name']}}-gallery" title="{{=product['title']}}">
                      {{if i == 0:}}
                          <img style="background:transparent;" src="{{=URL('static', 'images/album/' + image)}}" alt="{{=product['title']}}"/>
                      {{pass}}
                      </a>
                    {{pass}}
                  </div>
              </ul>
            </div>
            <div class="column four border border_left libk_libk">
              <div class="libk_libk_inner">
                <h3>{{=product['title']}}</h3>
                <p>{{=product['desc']}}</p>
                <div class="butt_two lm-button ls fill">Specifications</div>
                <div class="butt_one lm-button ls fill sact">How it works?</div>
              </div>
            </div>
            <div class="column four">
              <ul class="lb-album">
                <div class="first_para">
                  <a class="fancybox" href="{{=URL('static', 'images/infographic/' + product['infographic'])}}"  data-fancybox-group="{{=product['name']}}-infographic" title="{{=product['name']}} Usage">
                  <img src="{{=URL('static', 'images/infographic/' + product['infographic'])}}" alt="{{=product['name']}}"/></a>
                </div>
              </ul>
              <div class="second_para">
                <div class="para_inner">
                  {{for spec_name, spec_items in product['spec'].iteritems():}}
                    {{=spec_name}}
                    <ul>
                        {{for item in spec_items:}}
                          <li>{{=item}}</li>
                        {{pass}}
                    </ul>
                  {{pass}}
                </div>
              </div>
            </div>
          </div>
        {{pass}}
      </div>
    </div>
    </section> <!-- Product Menu End-->

  <!-- </section> -->
  <section id="quote" class="parallax-background parallax-background5" data-type="parallax">
    <div class="overlay"></div>
    <div class="container wow zoomIn"> </div>
  </section>
  <!-- Features -->
  <section id="features">
    <header class="section-header">
      <h2 class="section-title">Features</h2>
    </header>
    <div class="container">
      <div class="row">
        <div class="column four wow fadeInUp"> <i class="fa fa-rupee"></i>
          <h3>Saves Money</h3>
          <p>Nuton saves you money by optimizing your electricity usage and stopping the current leak from your stand-by devices .</p>
        </div>
        <div class="column four wow fadeInUp"> <i class="fa fa-clock-o"></i>
          <h3>Saves Time</h3>
          <p>Nuton saves you time and effort by giving you one touch control for your appliances via easy to use smart phone application.</p>
        </div>
        <div class="column four wow fadeInUp"> <i class="fa fa-suitcase"></i>
          <h3>Easy Setup</h3>
          <p>Nuton devices are super easy to unpack and use. In fact it comes ready-to-use and can be done even by your granny. </p>
        </div>
      </div>
      <div class="row">
        <div class="column four wow fadeInUp"> <i class="fa fa-heart-o"></i>
          <h3>Trendy</h3>
          <p>Nuton devices are specially designed to complement your home decor and comes in trendy designs for all your rooms.</p>
        </div>
        <div class="column four wow fadeInUp"> <i class="fa fa-child"></i>
          <h3>Kids Friendly</h3>
          <p>Nuton acknowledges the presence of children in your house and all its devices are safe and extremely secure. </p>
        </div>
        <div class="column four wow fadeInUp"> <i class="fa fa-shield"></i>
          <h3>Quality</h3>
          <p>Nuton devices are manufactured using environment friendly material and state of the art technology.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="achievements" class="parallax-background parallax-background6" data-type="parallax">
    <div class="overlay"></div>
    <div class="container">
      <div class="row"> </div>
    </div>
  </section>
  
  <!-- FAQs -->
  <section id="faq">
    <header class="section-header">
      <h2 class="section-title">FAQs</h2>
    </header>
    <div class="container">
      <div class="row">
          <div class="accordion">
              {{for faq in faqs:}}
                <div class="accordion-wrap faq_question">
                  <div class="title">
                      <a class="faq_question" href="javascript:void(0);">{{=faq['question']}}</a>
                  </div>
                  <div class="content faq_answer">
                    {{=faq['answer']}}
                  </div>
                </div>
              {{pass}}
          </div>
      </div>
    </div>
  </section>

  <section id="contact" class="gray">
    <div class="container">
      <div class="row">
        <h2 class="section-title">Contact Us</h2>
        <p class="section-tagline"> For any questions or suggestions, feel free to contact us. We treat every customer as our top priority.</p>
      </div>
    </div>
    <div id="form">
      <div class="container">
        <div class="row">
          <form name="forms" action="//itsenuf.com/" id="forms1" method="post">
            <div class="column four">
              <input type="text" placeholder="Name" id="name" name="name">
            </div>
            <div class="column four">
              <input type="text" placeholder="Email" id="email_id" name="email_id">
            </div>
            <div class="column four">
              <input type="text" placeholder="Subject" id="subject" name="subject">
            </div>
            <div class="column twelve">
              <textarea name="message" id="message" cols="30" rows="10"></textarea>
              
              <!--<input type="hidden" name="submit">-->
              
              <input type="submit" name="submit" value="send message">
            </div>
            <div class="clearfix"></div>
            <div class="notification"></div>
          </form>
        </div>
        <div class="row icons">
          <div class="column four"> <i class="pe-7s-mail-open wow fadeInUp"></i><a href="mailto:info@nuton.in" id="mail" target="blank">info@nuton.in</a> </div>
          <div class="column four"> <i class="pe-7s-map-marker wow fadeInUp"></i> <span id="address">162, Senathipathi Street, Kamatchi Nagar, <br/>
            Chennai, India</span> </div>
          <div class="column four"> <i class="pe-7s-call wow fadeInUp"></i> <a href="tel:00111111111" id="phone">+321 123 456 7</a> </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer Section -->
  
  <footer>
    <div id="copyright" class="wow fadeInUp" data-wow-offset="50"> <img src="{{=URL('static', 'images/nuton-footer-logo.png')}}" alt width="210" height="20"> <br/>
      Copyright 2015 Nuton. All Rights Reserved.</span> </div>
    <div class="form_sin_upp container"> 
     
      <div class="errow_messate_box" id="dic5">Everybody has an email!</div>
      <div class="errow_messate_box_text" id="prt5" >Please Enter Currect Email!</div>
      <div class="promocode_accept" id="did5">Promo code accepted, put your email and sign up.</div>
      <div class="promocode_accept_worng" id="div5">You Can Register Without Code As Well</div>
      <form action="" id="callout-form" name="my_form" method="post" enctype="multipart/form-data">
        <input type="text" name="email" placeholder="you@example.com" id="email5">
        <input type="button"  value="sign up" onClick="validateEmail(5)">
      </form>
    </div>
    
    <div id="errormessage4"></div>
    <div id="social" class="wow fadeInUp" data-wow-offset="0">
      <ul>
        <li><a href="//www.facebook.com/Nutons" target="_blank"><i class="fa fa-facebook"></i></a> </li>
        <li><a href="//twitter.com/NutonIOT" target="_blank"><i class="fa fa-twitter"></i></a> </li>
        <li><a href="//plus.google.com/u/0/116562684728809532541/about" target="_blank"><i class="fa fa-google"></i></a> </li>
      </ul>
    </div>
  </footer>
  
<!-- </section> ritesh commented for check --> <!-- * this should be top-way-point -->

<div class="over_lay">
  <div  id="share_box_wrapper" > <a title="Close" class="modalCloseImg simplemodal-close"></a>
    <div class="popUp_box_inner">
      
    </div>
  </div>
</div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.1.61/device.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/2.7.8/jquery.mb.YTPlayer.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.2/wow.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-buttons.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
  <script src="{{=URL('static', 'js/typed.js')}}"></script>
  <script src="{{=URL('static', 'js/SmoothScroll.js')}}"></script>
  <script src="{{=URL('static', 'js/jquery.queryloader2.min.js')}}"></script>
  <script src="{{=URL('static', 'js/jquery.bxslider.js')}}"></script>
  <script src="{{=URL('static', 'js/jquerypp.custom.js')}}"></script>
  <script src="{{=URL('static', 'js/jquery.bookblock.min.js')}}"></script>
  <script src="{{=URL('static', 'js/landingpage-custom.js')}}"></script>
  <script src="{{=URL('static', 'js/landingpage-scriptall.js')}}"></script>
</body>
</html>
