<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>
            Oxlip: Smart Home for Everyone.
        </title>
        <meta content="Oxlip is new gereration smart home solutions which are light weight on your wall and also on you wallet. Easy to install(no electrician required) and easy to use." name="description">
        <meta content="" name="author">
        <meta content="Smart Home Solutions Home Automation Smart Plug Wireless Switch" name="keywords">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <!-- Sky v1.2 || ex nihilo || November 2014 - February 2015 -->
        <!-- style start -->
        <link href="{{=URL('static', 'soon/css/style.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{=URL('static', 'soon/css/blue.css')}}" media="screen" rel="stylesheet" title="blue" type="text/css">
        <link href="{{=URL('static', 'soon/css/skeleton-wide.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{=URL('static', 'soon/css/media.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{=URL('static', 'images/elements/favicon.ico')}}">
        <link rel="apple-touch-icon" href={{=URL('static', "images/elements/apple-touch-icon.png")}}>
        <link rel="apple-touch-icon" sizes="72x72" href={{=URL('static', "images/elements/apple-touch-icon-72x72.png")}}/>
        <link rel="apple-touch-icon" sizes="114x114" href={{=URL('static', "images/elements/apple-touch-icon-114x114.png")}}/>
        <link rel="apple-touch-icon" sizes="144x144" href={{=URL('static', "images/elements/apple-touch-icon-144x144.png")}}/>
        <link rel="apple-touch-icon" sizes="180x180" href={{=URL('static', "images/elements/apple-touch-icon-180x180.png")}}/>

    </head>
    <body>
    {{include 'ga.html'}}
    <div class="overlay" onClick="$(this).fadeOut(); $('.vimeo-video').fadeOut()" id="pause-button"></div>
    <div class="vimeo-video">
    	<div class="close" onClick="$('.overlay').fadeOut(); $('.vimeo-video').fadeOut()">x</div>
        <iframe src="//player.vimeo.com/video/124354494?api=1" width="100%" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video-player"></iframe></div>
        
        <!-- screen loader start -->
        <div class="screen-loader"></div><!-- screen loader end -->
        <!-- preload start -->
        <div id="preload">
            <!-- preload status start -->
            <div id="preload-status"></div><!-- preload status end -->
        </div><!-- preload end -->
        <!-- curtains start -->
        <div id="curtains"></div><!-- curtains end -->
        <!-- top shade start -->
        <div id="top-shade"></div><!-- top shade end -->
        <!-- google maps start -->
        <div id="map-wrapper">
            <div id="map"></div>
        </div><!-- google maps end -->
        <!-- preload content start -->
        <div class="preload-content">
            <!-- home start -->
            <div id="home"></div><!-- home end -->
        </div><!-- preload content end -->
        <!-- menu start -->
        <nav class="menu">
            <ul class="mainNav">
                <li class="curr">
                    <a class="menu-state active" href="#" id="fire-home"><span class="navNumber">00</span> <span class="navTitle">Home</span><br>
                    Get started</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-services"><span class="navNumber">01</span> <span class="navTitle">Features</span><br>
                    What we do</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-about"><span class="navNumber">02</span> <span class="navTitle">About</span><br>
                    Who we are</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-contact"><span class="navNumber">03</span> <span class="navTitle">Contact</span><br>
                    Get in touch</a>
                </li>
            </ul>
        </nav><!-- menu end -->
        <!-- menu mobile start -->
        <nav class="menu-mobile">
            <ul>
                <li>
                    <ul>
                        <li class="lifting-first">
                            <a class="menu-state active" href="#" id="fire-home-mobile">Home</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-services-mobile">Features</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-about-mobile">About</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-contact-mobile">Contact</a>
                        </li>
                    </ul><a class="menu-mobile-trigger" href="#">Menu</a>
                </li>
            </ul>
        </nav><!-- menu mobile end -->
        <!-- upper page start -->
        <div class="upper-page current" id="read-home">
            <!-- center container start -->
            <div class="center-container-home">
                <!-- center block start -->
                <div class="center-block">
                    <!-- borders start -->
                    <div class="borders"></div><!-- borders end -->
                    <!-- social icons start -->
                    <div class="social-icons-wrapper">
                        <ul class="social-icons">
                            <li>
                                <a class="fa fa-twitter-square fa-2x" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-facebook-square fa-2x" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus-square fa-2x" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-youtube-square fa-2x" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin-square fa-2x" href="#"></a>
                            </li>
                        </ul>
                    </div><!-- social icons end -->
                    <!-- upper content start -->
                    <div class="upper-content">
                        <!-- container start -->
                        <div class="container center">
                            <!-- intro wrapper start -->
                            <div id="intro-wrapper">
                                <!--<div class="eight columns column top">
                                    <div id="intro-top-line"></div>
                                </div>-->
                                <div class="eight columns column">
                                    <div id="intro-top">
                                        <img src="{{=URL('static', 'soon/images/logo.png')}}" alt="" class="logooo">
                                    </div>
                                </div>
                                <div class="sixteen columns">
                                    <!--<div id="intro-title" style="visibility:hidden;">
                                       CTA
                                    </div>-->
                                    <div class="fan-play"><img src="{{=URL('static', 'soon/images/play38.png')}}" width="128" height="128" alt="play" class="pl" onClick="$('.overlay').fadeIn(); $('.vimeo-video').fadeIn()" id="play-button"></div>
                              </div>
                                <div class="sixteen columns">
                                	<!--<div class="video-container"><img src="images/vdo.jpg" width="300" height="200" alt="vodeo"></div>
                                    <a href="https://vimeo.com/124354494" target="_blank"><div id="intro-subtitle">
                                        WATCH US
                                    <ssh/div>
                                    </a>-->
                                </div>
                                <div class="eight columns column">
                                    <!-- teaser start -->
                                    <div id="teaser">
                                        <div id="teaser-text">
                                            <!-- teaser line 1 start -->
                                            <div class="teaser-text-animation active first">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip gives you</span> <span class="teaser-highlight">Convenience</span>
                                                </h3>
                                            </div><!-- teaser line 1 end -->
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">With Oxlip you save</span> <span class="teaser-highlight">Money</span>
                                                </h3>
                                            </div>
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip is designed for</span> <span class="teaser-highlight">your Family</span>
                                                </h3>
                                            </div>
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip is designed for</span> <span class="teaser-highlight">your Family</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div><!-- teaser end -->
                                </div>
                                <!--<div class="eight columns column">
                                    <div id="intro-bottom-line"></div>
                                </div>-->
                            </div><!-- intro wrapper end -->
                        </div><!-- container end -->
                    </div><!-- upper content end -->
                    <!-- launch countdown start -->
                    <div id="countdown-wrapper">
                        <div id="countdown-wrap">
                            <ul id="countdown">
                                <li>
                                    <span id="days-sub">days</span> <input class="knob" data-fgcolor="#fff" data-height="90" data-max="366" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="90" id="days">
                                </li>
                                <li>
                                    <span id="hours-sub">hours</span> <input class="knob" data-fgcolor="#fff" data-height="80" data-max="24" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="80" id="hours">
                                </li>
                                <li>
                                    <span id="mins-sub">minutes</span> <input class="knob" data-fgcolor="#fff" data-height="80" data-max="60" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="80" id="mins">
                                </li>
                                <li>
                                    <span id="secs-sub">seconds</span> <input class="knob" data-fgcolor="#fff" data-height="80" data-max="60" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="80" id="secs">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- launch countdown end -->
                    <!-- newsletter form start -->
                    <div id="subscribe-form">
                        <h4>
                            Subscribe today to<br>
                            receive the latest news
                        </h4>
                        <div id="subscribe-wrapper">
                            <div id="newsletter">
                                <div class="newsletter">
                                    <form action='subscribe' id="subscribe" method="post" name="subscribe">
                                        <label class="mail"> E-mail</label> <input class="subscriberequiredField subscribeemail" id="subscribeemail" name="subscribeemail" type="text"> <input id=
                                        "submit" type="submit" value="SUBSCRIBE">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- newsletter form end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- upper page end -->
        <!-- services start -->
        <div class="lower-page" id="services">
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- services intro start -->
                        <div class="services-intro">
                            <h1>
                                FEATURES
                            </h1>
                        </div><!-- services intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <div class="sixteen columns services-column-full">
                                <p>
                                    Our Mission is simple - Smart Home For Every House.
                                    At Oxlip, we only believe in the best and that is what we are set to deliver.
                                    Being an Indian in its origin, Oxlip completely understands the Indian household requirements and has manufactured the products accordingly.
                                </p>
                            </div>
                            <div class="one-fifth column services-column">
                                <span class="awesome"><span class="fa fa-heart"></span></span>
                                <p class="info">
                                    Convenient
                                </p>
                                <p>
                                    Want to have a light switch near sofa or bed? With Oxlip you can do it in a minute.
                                    Since our switches are wireless you can just move it and stick it anywhere, anytime and control any appliance(light, fan, TV, fridge etc).
                                </p>
                            </div>
                            <!-- services column 1 start -->
                            <div class="one-fifth column services-column">
                                <span class="awesome"><span class="fa fa-check-square-o"></span></span>
                                <p class="info">
                                    Easy
                                </p>
                                <p>
                                    Our products are extremely easy to install and use. No electricians required to install our products. All our products are ready to use right outside the box and there is no learning curve.
                                </p>
                            </div><!-- services column 1 end -->
                            <!-- services column 2 start -->
                            <div class="one-fifth column services-column">
                                <span class="awesome"><span class="fa fa-camera"></span></span>
                                <p class="info">
                                    Monitor
                                </p>
                                <p>
                                    Like to monitor your house while you are on vacation?
                                    Our intelligent camera can automatically detect people, take photo and send email/alert to your phone.
                                </p>
                            </div><!-- services column 2 end -->
                            <!-- services column 3 start -->
                            <div class="one-fifth column services-column">
                                <span class="awesome"><span class="fa fa-money"></span></span>
                                <p class="info">
                                    Affordable
                                </p>
                                <p>
                                    Oxlip suited for every pocket without compromising on the quality.
                                    Our wireless switch starts from just Rs.3999.
                                    We are able achieve this low cost by mass manufacturing.
                                </p>
                            </div><!-- services column 3 end -->
                            <div class="one-fifth column services-column">
                                <span class="awesome"><span class="fa fa-globe"></span></span>
                                <p class="info">
                                    Save
                                </p>
                                <p>
                                    Right from day one, Oxlip starts saving you electricity and money.
                                    Studies shows smart home saves at least 15% of home electricity bill.
                                    Also Oxlip helps you to be environment friendly by reducing energy waste.
                                </p>
                            </div>

                            <div class="sixteen columns services-column-full">
                                <p>Impressed by our features and want to know about products? Follow us on Facebook or Subscribe to our mailing list to get know about the release date first.
                                </p>
                            </div>

                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-services-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div><!-- closer end -->
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- services end -->
        <!-- about start -->
        <div class="lower-page" id="about">
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- about intro start -->
                        <div class="about-intro">
                            <h1>
                                ABOUT
                            </h1>
                        </div><!-- about intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- about full start -->
                            <div class="sixteen columns about-column-full">
                                <p>
                                    We are a team of highly motivated Indians from different parts of the WORLD with more than a decade of experience developing and shipping products ! We are dreamers and we are entrepreneurs. Our dream is to make every house in India, A Smart Home ! As a team, we have worked very hard developing the most advanced and most affordable home automation system for every house.
                                </p>
                            </div><!-- about full end -->
                            <!-- about column 1 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-gears"></span></span>
                                <p class="info">
                                    Engineers<br>
                                    <span class="about-person">Sankar and Sam</span>
                                </p>
                                <p>
                                    We tinker with hardware and make products which meets high standards.
                                    Want to be one of the first ones to try our beta? reach us <a href="mailto:info@oxlip.in">info@oxlip.in</a>
                                </p>
                            </div><!-- about column 1 end -->
                            <!-- about column 2 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-desktop"></span></span>
                                <p class="info">
                                    Designer<br>
                                    <span class="about-person">Ritesh</span>
                                </p>
                                <p>
                                    Like the site, mobile app or the look of the product? Well my ideas behind it.
                                    Want to include your idea to be implemented in the design - well, I am happy to do it - submit your ideas in <a href="http://support.oxlip.in">support.oxlip.in</a>
                                </p>
                            </div><!-- about column 2 end -->
                            <!-- about column 3 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-file-code-o"></span></span>
                                <p class="info">
                                    Programmers<br>
                                    <span class="about-person">Samuel and Sripathy</span>
                                </p>
                                <p>
                                    We write firmware, android app and cloud backend. We believe in open standards - we are finalizing our API and will be available for developers soon.
                                    Keep a watch on <a href="/devlopers">oxlip.in/devlopers</a>
                                </p>
                            </div><!-- about column 3 end -->
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-about-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div><!-- closer end -->
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- about end -->
        <!-- contact start -->
        <div class="lower-page" id="contact">
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- contact intro start -->
                        <div class="contact-intro">
                            <h1>
                                CONTACT
                            </h1>
                        </div><!-- contact intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- services full start --><!-- services full end -->
                            <!-- contact column 1 start -->
                            <div class="one-third column contact-column">
                                <div class="info-address">
                                    <span class="awesome"><span class="fa fa-map-marker"></span></span>
                                    <p class="info">
                                        Address
                                    </p>
                                    <p>
                                        Oxlip Pvt Ltd.<br>
                                        Bangalore<br>
                                        India
                                    </p>
                                </div>
                            </div><!-- contact column 1 end -->
                            <!-- contact column 2 start -->
                            <div class="one-third column contact-column">
                                <div class="info-phone">
                                    <span class="awesome"><span class="fa fa-phone"></span></span>
                                    <p class="info">
                                        Telephone
                                    </p>
                                    <p>
                                        [91]<br>
                                    </p>
                                </div>
                            </div><!-- contact column 2 end -->
                            <!-- contact column 3 start -->
                            <div class="one-third column contact-column">
                                <div class="info-email">
                                    <span class="awesome"><span class="fa fa-envelope"></span></span>
                                    <p class="info">
                                        E-mail
                                    </p>
                                    <p>
                                        <a href="mailto:info@oxlip.in">info@oxlip.in</a>
                                    </p>
                                </div>
                            </div><!-- contact column 3 end -->
                            <!-- contact form start -->
                            <div class="sixteen columns">
                                <div id="contact-form">
                                    <form action="contact.php" id="form" method="post" name="send">
                                        <div class="holder">
                                            <div>
                                                <input class="requiredField name" id="name" name="name" placeholder="Name" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text">
                                            </div>
                                        </div>
                                        <div class="holder">
                                            <div>
                                                <textarea class="requiredField message" id="message" name="message" placeholder="Message">
</textarea>
                                            </div>
                                            <div>
                                                <button class="submit white-border" data-hover="Submit" type="submit" value="Submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- contact form end -->
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-contact-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div><!-- closer end -->
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- contact end -->
        <!-- scripts start -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/sky.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/form-subscribe.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/form-contact.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/countdown.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/jquery.knob.js')}}"></script>
        <!-- countdown setup start -->
        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function() {
                "use strict";
                $("#countdown").countdown({
                    date: "15 August 2015 12:00:00", // countdown target date settings
                    format: "on"
                }, function() {
                    // callback function
                });

            });
        //]]>
        </script><!-- countdown setup end -->
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/knob.js')}}"></script>
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="{{=URL('static', 'soon/js/google-maps.js')}}"></script>
        <script language="javascript" src="{{=URL('static', 'soon/js/froogaloop.js')}}"></script>
        <!-- scripts end -->
		<script>
            // Froogaloop
            // https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/froogaloop.js
            // https://github.com/vimeo/player-api/blob/master/javascript/froogaloop.js
            // http://a.vimeocdn.com/js/froogaloop2.min.js

            /*var iframe = document.getElementById('video');

            // $f == Froogaloop
            var player = $f(iframe);

            // bind events
            var playButton = document.getElementById("play-button");
            playButton.addEventListener("click", function() {
              player.api("play");
            });

            var pauseButton = document.getElementById("pause-button");
            pauseButton.addEventListener("click", function() {
              player.api("pause");
            });*/


            var iframe = $('#video-player')[0];
            var player = $f(iframe);

            $('#pause-button').click(function() {
                player.api('pause');
            });


            $('#play-button').click(function(){
                player.api('play');
            })

	   </script>

    </body>
</html>