<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>
            Oxlip: Smart Home for Everyone.
        </title>
        <meta content="Oxlip is new gereration smart home solutions which are light weight on your wall and also on you wallet. Easy to install(no electrician required) and easy to use." name="description">
        <meta content="" name="author">
        <meta content="Smart Home Solutions Home Automation Smart Plug Wireless Switch" name="keywords">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <!-- Sky v1.2 || ex nihilo || November 2014 - February 2015 -->
        <!-- style start -->
        <link href="{{=URL('static', 'soon/css/style.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{=URL('static', 'soon/css/blue.css')}}" media="screen" rel="stylesheet" title="blue" type="text/css">
        <link href="{{=URL('static', 'soon/css/skeleton-wide.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{=URL('static', 'soon/css/media.css')}}" media="all" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
        <!-- style end -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{{=URL('static', 'images/elements/favicon.ico')}}">
        <link rel="apple-touch-icon" href={{=URL('static', "images/elements/apple-touch-icon.png")}}>
        <link rel="apple-touch-icon" sizes="72x72" href={{=URL('static', "images/elements/apple-touch-icon-72x72.png")}}/>
        <link rel="apple-touch-icon" sizes="114x114" href={{=URL('static', "images/elements/apple-touch-icon-114x114.png")}}/>
        <link rel="apple-touch-icon" sizes="144x144" href={{=URL('static', "images/elements/apple-touch-icon-144x144.png")}}/>
        <link rel="apple-touch-icon" sizes="180x180" href={{=URL('static', "images/elements/apple-touch-icon-180x180.png")}}/>

    </head>
    <body>
        {{include 'ga.html'}}

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="overlay" onClick="$(this).fadeOut(); $('.vimeo-video').fadeOut()" id="pause-button"></div>
        <div class="vimeo-video">
            <div class="close" onClick="stopVideo();$('.overlay').fadeOut(); $('.vimeo-video').fadeOut()">x</div>
            <div id="video-player"></div>
            <div id="fb-page-container" style="display: none;position: absolute;margin-top: -50px;margin-left: -50px;top: 40%;left: 40%;">
                <div class="close" id="fb-page-close"  onClick="$('#fb-page-container').fadeOut()">x</div>
                <br>
                <div id="fb-page" class="fb-page" data-href="https://www.facebook.com/OxlipHome" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/OxlipHome"><a href="https://www.facebook.com/OxlipHome">Oxlip</a></blockquote></div></div>
            </div>
        </div>


        <!-- screen loader start -->
        <div class="screen-loader"></div><!-- screen loader end -->
        <!-- preload start -->
        <div id="preload">
            <!-- preload status start -->
            <div id="preload-status"></div><!-- preload status end -->
        </div><!-- preload end -->
        <!-- curtains start -->
        <div id="curtains"></div><!-- curtains end -->
        <!-- top shade start -->
        <div id="top-shade"></div><!-- top shade end -->
        <!-- google maps start -->
        <div id="map-wrapper">
            <div id="map"></div>
        </div><!-- google maps end -->
        <!-- preload content start -->
        <div class="preload-content">
            <!-- home start -->
            <div id="home"></div><!-- home end -->
        </div><!-- preload content end -->
        <!-- menu start -->
        <nav class="menu">
            <ul class="mainNav">
                <li class="curr">
                    <a class="menu-state active" href="#" id="fire-home"><span class="navNumber">00</span> <span class="navTitle">Home</span><br>
                    Get started</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-services"><span class="navNumber">01</span> <span class="navTitle">Features</span><br>
                    What we do</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-contact"><span class="navNumber">02</span> <span class="navTitle">Ideas</span><br>
                    About your dream</a>
                </li>
                <li>
                    <a class="menu-state" href="#" id="fire-about"><span class="navNumber">03</span> <span class="navTitle">About</span><br>
                    Who we are</a>
                </li>
            </ul>
        </nav><!-- menu end -->
        <!-- menu mobile start -->
        <nav class="menu-mobile">
            <ul>
                <li>
                    <ul>
                        <li class="lifting-first">
                            <a class="menu-state active" href="#" id="fire-home-mobile">Home</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-services-mobile">Features</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-contact-mobile">Ideas</a>
                        </li>
                        <li class="lifting">
                            <a class="menu-state" href="#" id="fire-about-mobile">About</a>
                        </li>
                    </ul><a class="menu-mobile-trigger" href="#">Menu</a>
                </li>
            </ul>
        </nav><!-- menu mobile end -->
        <!-- upper page start -->
        <div class="upper-page current" id="read-home">
            <!-- center container start -->
            <div class="center-container-home">
                <!-- center block start -->
                <div class="center-block">
                    <!-- borders start -->
                    <div class="borders"></div><!-- borders end -->
                    <!-- social icons start -->
                    <div class="social-icons-wrapper">
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" class="fa fa-facebook-square fa-2x" href="https://www.facebook.com/OxlipHome"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-twitter-square fa-2x" href="https://twitter.com/OxlipLtd"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-google-plus-square fa-2x" href="https://www.google.com/+OxlipIn"></a>
                            </li>
                        </ul>
                    </div><!-- social icons end -->
                    <!-- upper content start -->
                    <div class="upper-content">
                        <!-- container start -->
                        <div class="container center">
                            <!-- intro wrapper start -->
                            <div id="intro-wrapper">
                                <!--<div class="eight columns column top">
                                    <div id="intro-top-line"></div>
                                </div>-->
                                <div class="eight columns column">
                                    <div id="intro-top">
                                        <img src="{{=URL('static', 'soon/images/logo.png')}}" alt="" class="logooo">
                                    </div>
                                </div>
                                <div class="sixteen columns">
                                    <!--<div id="intro-title" style="visibility:hidden;">
                                       CTA
                                    </div>-->
                                    <div class="fan-play"><img src="{{=URL('static', 'soon/images/play38.png')}}" width="128" height="128" alt="play" class="pl" onClick="$('.overlay').fadeIn(); $('.vimeo-video').fadeIn()" id="play-button"></div>
                              </div>
                                <div class="sixteen columns">
                                	<!--<div class="video-container"><img src="images/vdo.jpg" width="300" height="200" alt="vodeo"></div>
                                    <a href="https://vimeo.com/124354494" target="_blank"><div id="intro-subtitle">
                                        WATCH US
                                    <ssh/div>
                                    </a>-->
                                </div>
                                <div class="eight columns column">
                                    <div id="teaser">
                                        <div id="teaser-text">
                                            <div class="teaser-text-animation active first">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip gives you</span> <span class="teaser-highlight">Convenience</span>
                                                </h3>
                                            </div>
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">With Oxlip you save</span> <span class="teaser-highlight">Money</span>
                                                </h3>
                                            </div>
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip is designed for</span> <span class="teaser-highlight">Your Family</span>
                                                </h3>
                                            </div>
                                            <div class="teaser-text-animation">
                                                <h3>
                                                	<span class="teaser-normal">Oxlip is </span> <span class="teaser-highlight">Sleek and Light</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div><!-- teaser end -->
                                </div>
                                <!--<div class="eight columns column">
                                    <div id="intro-bottom-line"></div>
                                </div>-->
                            </div><!-- intro wrapper end -->
                        </div><!-- container end -->
                    </div><!-- upper content end -->
                    <!-- newsletter form start -->
                    <div id="subscribe-form">
                        <h4>
                            Subscribe today to<br>
                            receive the latest news
                        </h4>
                        <div id="subscribe-wrapper">
                            <div id="newsletter">
                                <div class="newsletter">
                                    <form action='subscribe' id="subscribe" method="post" name="subscribe">
                                        <label class="mail"> E-mail</label> <input class="subscriberequiredField subscribeemail" id="subscribeemail" name="subscribeemail" type="text"> <input id=
                                        "submit" type="submit" value="SUBSCRIBE">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- newsletter form end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- upper page end -->
        <!-- services start -->
        <div class="lower-page" id="services">
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- services intro start -->
                        <div class="services-intro">
                            <h1>
                                FEATURES
                            </h1>
                        </div><!-- services intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <div class="eight columns services-column-full">
                                <p>

                                </p>
                            </div>
                            <div class="one-third column services-column">
                                <span class="awesome"><span class="fa fa-check-square-o"></span></span>
                                <p class="info">
                                    Easy
                                </p>
                                Easy to install and easy to use
                            </div><!-- services column 1 end -->
                            <!-- services column 2 start -->
                            <div class="one-third column services-column">
                                <span class="awesome"><span class="fa fa-camera"></span></span>
                                <p class="info">
                                    Monitor
                                </p>
                                Watch loved ones all the time
                            </div><!-- services column 2 end -->
                            <!-- services column 3 start -->
                            <div class="one-third column services-column">
                                <span class="awesome"><span class="fa fa-money"></span></span>
                                <p class="info">
                                    Affordable
                                </p>
                                Modernize your for as low as Rs.4999
                            </div><!-- services column 3 end -->
                            <div class="sixteen columns services-column-full">
                                <p>Want to know about products? Follow us on <a target="_blank" href="https://www.facebook.com/OxlipHome">Facebook</a> or Subscribe to our mailing list.
                                </p>
                            </div>

                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-services-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div><!-- closer end -->
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- services end -->
        <!-- about start -->
        <div class="lower-page" id="about">
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- about intro start -->
                        <div class="about-intro">
                            <h1>
                                ABOUT
                            </h1>
                        </div><!-- about intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- about full start -->
                            <div class="sixteen columns about-column-full">
                                <p>
                                    We are entrepreneurs with more than decade of experience developing and shipping products!. <br>
                                    Our dream is to make every house in India, a Smart Home.<br>
                                </p>
                            </div><!-- about full end -->
                            <!-- about column 1 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-gears"></span></span>
                                <p class="info">
                                    Engineers<br>
                                    <span class="about-person">Sankar and Sam</span>
                                </p>
                                <p>
                                    We tinker with hardware and make products which meets high standards.
                                    Want to be one of the first ones to try our beta? reach us <a href="mailto:info@oxlip.in">info@oxlip.in</a>
                                </p>
                            </div><!-- about column 1 end -->
                            <!-- about column 2 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-desktop"></span></span>
                                <p class="info">
                                    Designer<br>
                                    <span class="about-person">Ritesh</span>
                                </p>
                                <p>
                                    Like the site, mobile app or the look of the product? Well my ideas behind it.
                                    Want to include your idea to be implemented in the design - checkout <a href="http://support.oxlip.in">support.oxlip.in</a>
                                </p>
                            </div><!-- about column 2 end -->
                            <!-- about column 3 start -->
                            <div class="one-third column about-column">
                                <span class="awesome"><span class="fa fa-file-code-o"></span></span>
                                <p class="info">
                                    Programmers<br>
                                    <span class="about-person">Samuel and Sripathy</span>
                                </p>
                                <p>
                                    We write firmware, android app and cloud backend. We believe in open standards - we are finalizing our API and will be available for developers soon.
                                </p>
                            </div><!-- about column 3 end -->
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-about-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div><!-- closer end -->
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- about end -->


        <div class="lower-page" id="contact">
            <div class="center-container">
                <div class="center-block">
                    <div class="lower-content">
                        <div class="contact-intro">
                            <h1>
                                IDEAS!
                            </h1>
                        </div>
                        <div class="container center">
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div>
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div>
                            <div class="info sixteen columns about-column-full">
                                <p>
                                    Have an idea, suggestion or question? <br><br>
                                    Come here <a target="_blank" href="http://support.oxlip.in">idea/feedback site</a>.
                                </p>
                            </div>
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div>
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div>
                        </div>

                        <div class="fire-closer">
                            <a class="menu-state" href="#" id="fire-about-closer"><img alt="Closer" src="{{=URL('static', 'soon/images/closer.png')}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts start -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/sky.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/form-subscribe.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/form-contact.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/countdown.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/jquery.knob.js')}}"></script>
        <!-- countdown setup start -->
        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function() {
                "use strict";
                $("#countdown").countdown({
                    date: "15 August 2015 12:00:00", // countdown target date settings
                    format: "on"
                }, function() {
                    // callback function
                });

            });
        //]]>
        </script><!-- countdown setup end -->
        <script type="text/javascript" src="{{=URL('static', 'soon/js/knob/knob.js')}}"></script>
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="{{=URL('static', 'soon/js/google-maps.js')}}"></script>
        <script>
          // 2. This code loads the IFrame Player API code asynchronously.
          var tag = document.createElement('script');

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.
          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('video-player', {
              height: '100%',
              width: '100%',
              videoId: 'Ri0iPSCeqaw',
              playerVars: {rel: 0},
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
          }
          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            //event.target.playVideo();
          }

          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          var done = false;
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
              //setTimeout(stopVideo, 6000);
              done = true;
            }
              if (event.data == YT.PlayerState.ENDED) {
                  $('#fb-page-container').fadeIn(1500);
              }
          }
          function stopVideo() {
            player.stopVideo();
          }
        </script>
    </body>
</html>